<div class="row" id="coworkers">
    <div class="span12 margin5 margin-5">
        <!--start thumbnails section-->
        <h2>Gli abitanti <span>del coworking</span></h2>
        <ul class="thumbnails margin5">
            <li class="span3">
                <a href="http://www.francescotrucchia.it" class="thumbnail" target="_blank">
                    <img src="img/coworkers/trucchia.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Francesco Trucchia">
                </a>
                <h5>Francesco Trucchia</a><br>
                <span>Founder and Software Engineer <a href="http://www.ideato.it" href="_blank">@ideato</a></span></h5>
            </li>
            <li class="span3">
                <a href="http://it.linkedin.com/in/francescotassi/" class="thumbnail" target="_blank">
                    <img src="img/coworkers/tassi.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Francesco Tassi">
                </a>
                <h5>Francesco Tassi</a><br>
                <span>PHP developer / Symfony developer</span></h5>
            </li>
            <!--li class="span3">
                <a href="http://www.3wd.it" class="thumbnail" target="_blank">
                    <img src="img/coworkers/tantucci.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="William Tantucci">
                </a>
                <h5>William Tantucci</a><br>
                <span>Prototipazione 3D ed effetti visivi</span></h5>
            </li-->
            <!--li class="span3">
                <a href="http://it.linkedin.com/in/filippodesantis" class="thumbnail" target="_blank">
                    <img src="img/coworkers/desantis.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Filippo De Santis">
                </a>
                <h5>Filippo De Santis</a><br>
                <span>Software Engineer <a href="http://www.ideato.it" href="_blank">@ideato</a></span></h5>
            </li-->
            <li class="span3">
                <a href="http://it.linkedin.com/pub/mattias-nyström/38/b8/228" class="thumbnail" target="_blank">
                    <img src="img/coworkers/nystrom.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Mattias Nystrom">
                </a>
                <h5>Mattias Nystrom</a><br>
                <span>Independent Information Technology</span></h5>
            </li>

            <li class="span3">
                <a href="http://www.linkedin.com/in/riccardofranconi" class="thumbnail" target="_blank">
                    <img src="img/coworkers/franconi.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Riccardo Franconi">
                </a>
                <h5>Riccardo Franconi</a><br>
                <span>Agile software engineer focused on web</span></h5>
            </li>
            
            <!--li class="span3">
                <a href="http://it.linkedin.com/pub/antonio-feliziani/12/953/a63" class="thumbnail" target="_blank">
                    <img src="img/coworkers/feliziani.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Antonio Feliziani">
                </a>
                <h5>Antonio Feliziani</a><br>
                <span>TeamSystem consultant, CEO Find2Ride</span></h5>
            </li-->

            <!--li class="span3">
                <a href="http://www.vagabondo.net" class="thumbnail" target="_blank">
                    <img src="img/coworkers/pisani.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Roberta Pisani">
                </a>
                <h5>Roberta Pisani</a><br>
                <span>Travel agent <a href="http://www.vagabondo.net">vagabondo</a></span></h5>
            </li-->

            <li class="span3">
                <a href="http://www.morenogiorgini.com" class="thumbnail" target="_blank">
                    <img src="img/coworkers/moreno.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Moreno Giorgini">
                </a>
                <h5>Moreno Giorgini</a><br>
                <span>Graphic and Frontend Developer</span></h5>
            </li>

            <li class="span3">
                <img class="thumbnail" src="img/coworkers/devis.jpg" style="width: 260px; height: 195px; margin-top:0px" alt="Devis Strappa">
                <h5>Devis Strappa</a><br>
                <span>Ingegnere termotecnico, energy manager</span></h5>
            </li>
            
            <li class="span3">
                <img class="thumbnail" src="http://icons.iconarchive.com/icons/icons-land/vista-people/256/Person-Male-Light-icon.png" style="width: 260px; height: 195px; margin-top:0px" alt="Devis Strappa">
                <h5>Luca Mandozzi</a><br>
                <span>Ingegnere termotecnico</span></h5>
            </li>
            
            <li class="span3">
                <img class="thumbnail" src="http://icons.iconarchive.com/icons/icons-land/vista-people/256/Person-Male-Light-icon.png" style="width: 260px; height: 195px; margin-top:0px" alt="Devis Strappa">
                <h5>Emanuele Rampichini</a><br>
                <span>Software Developer</span></h5>
            </li>
            
        </ul>
        
        {% include prevNext.html prev="cowo" next="opening" %}
    </div>
</div>
