<!--start gallery section-->
<div class="row" id="gallery">
    <div class="span12 margin5 margin-5">
        <!--start thumbnails section-->
        <h2><span>Shots</span></h2>
        <ul class="thumbnails margin5">
            <li class="span3">
                <a data-toggle="lightbox" href="#shot1" class="thumbnail">
                    <img src="img/gallery/shot1.png" alt="">
                </a>
            </li>
            <li class="span3">
                <a data-toggle="lightbox" href="#shot2" class="thumbnail">
                    <img src="img/gallery/shot2.png" alt="">
                </a>
            </li>
            <li class="span3">
                <a data-toggle="lightbox" href="#shot3" class="thumbnail">
                    <img src="img/gallery/shot3.png" alt="">
                </a>
            </li>
            <li class="span3">
                <a data-toggle="lightbox" href="#shot4" class="thumbnail">
                    <img src="img/gallery/shot4.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
<!--end thumbnails section-->
<!--start large shots section-->
<div id="shot1" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-content'>
        <img src="img/gallery/shot1@2x.png" alt="">
    </div>
</div>
<div id="shot2" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-content'>
        <img src="img/gallery/shot2@2x.png" alt="">
    </div>
</div>
<div id="shot3" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-content'>
        <img src="img/gallery/shot3@2x.png" alt="">
    </div>
</div>
<div id="shot4" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-content'>
        <img src="img/gallery/shot4@2x.png" alt="">
    </div>
</div>
<!--end large shots section-->
<!--end gallery section-->