<div class="navbar" id="navbar_{{include.navbarName}}">
    <div class="container separator">
        <div class="navbar-inner">
            <ul class="nav">
                <li {% if include.navbarName == 'about' %}class="active"{% endif %}><a href="#navbar_about">La nostra associazione</a></li>
                <li class="divider-vertical"></li>
                <li {% if include.navbarName == 'cowo' %}class="active"{% endif %}><a href="#navbar_cowo">Il Coworking</a></li>
                <li class="divider-vertical"></li>
                <li {% if include.navbarName == 'listino' %}class="active"{% endif %}><a href="#listino">Il Listino</a></li>
            </ul>
        </div>
    </div>
</div>