<div class="navbar" id="navbar_{{include.navbarName}}">
    <div class="container separator">
        <div class="navbar-inner">
            <ul class="nav">
                <li {% if include.navbarName == 'about' %}class="active"{% endif %}><a href="#navbar_about">Cowo42</a></li>
                <li class="divider-vertical"></li>
                <li {% if include.navbarName == 'cowo' %}class="active"{% endif %}><a href="#navbar_cowo">Spazi e Abitanti</a></li>
                <li class="divider-vertical"></li>
                <li {% if include.navbarName == 'listino' %}class="active"{% endif %}><a href="#navbar_listino">Prezzi e Servizi</a></li>
                <li class="divider-vertical"></li>
                <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%69%6E%66%6F%40%63%6F%77%6F%34%32%2E%63%6F%6D">Contattaci</a></li>
            </ul>
        </div>
    </div>
</div>