---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cowo42 - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Cowo42 promuove il lavoro in coworking e la cultura dell'innovazione con uno spazio di coworking ad Osimo(AN)">
    <meta name="author" content="Cowo42 Associazione culturale">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap-lightbox.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="/thumbnail.png"/>
    <link rel="icon" type="image/ico" href="/favicon.ico">
</head>
<body data-spy="scroll" data-target=".navbar">
<!--start home section-->
<div id="home">
    <div class="container">
        <div class="row">
            <div class="span12 hidden-phone">
                <hgroup class="margin-5">
                    <h1 id="responsive_headline">Cowo42</h1>
                    <h2>Working alone sucks!</h2>
                </hgroup>
            </div>
        </div>
    </div>
</div>

<div id="about">
    {% include navbar.html navbarName='blog' %}
    {{ content }}  
</div>

</body>
</html>